footer{
    width: 100vw;
    color: white;
   background-color: #14306C;
   
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

.fin-categorie{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 2rem;

}
.fin-categorie div{
    display: flex;
    flex-direction: column;
}
.fin-categorie div p{
    padding-bottom: 0.5rem;
    font-weight: bolder;
}
.fin-categorie div a{
    padding-bottom: 0.5rem;
}