
/****************************************** */
/* ECRAN DEFAUT phone */
/****************************************** */

.header{
    height: auto;
    width: 100vw; 
    color: white;
    background-color: #14306C;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}
.lien-header{
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #007BEE;
}


.header p{
    padding: 1rem;
}

/****************************************** */
/* ECRAN ADAPTATIF */
/****************************************** */
@media screen and (min-width:700px) {
    .header{
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        /* margin: 1rem; */
        
    }

    .lien-header{
        width: 400px;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #14306C;
    }
 
    
}

