body{
    background-color: #CDF2FF;
    font-family: "Fredoka", serif;
}
.UI-Note{
    height: 100vh;
    background-color: #CDF2FF;
}
.Design{
    height: 100vh;
    background-color: #7accea;
}
.UI-Description{
    height: 100vh;
    background-color: #2d6f88;
}
.intro-app{
    height: 100vh;
    background-image:linear-gradient(180deg, #CDF2FF, #00B0EE, #007BEE);
}