body{
    background-color: #CDF2FF;
    font-family: "Fredoka", serif;
    margin: 0;
    padding: 0;
}
.UI-Note{
    height: 100vh;
    background-color: #CDF2FF;
   
}
.UI-Note div{
    text-align: center;
}
.UI-Note img{
    width: 80vw;
    height:fit-content;
      
}

.Design{
    height: 100vh;
    display: flex;
}



.donnerAnimation{
    animation: slideIn 1.2s ease-in-out;
}

@keyframes slideIn{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}


.Design img{
    width: 75vw;
    height:fit-content;
}
.Design div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UI-Description{
    height: 100vh;
}
.intro-app{
    position: relative;
    height: 100vh;
    background-image:linear-gradient(180deg, #CDF2FF, #00B0EE, #007BEE);
}
.intro-app .cercle1{
    position: absolute;
    top: 25%;
    left: -200px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #01A3EE;
}
.intro-app .cercle2{
    position: absolute;
    top: 25%;
    right: -200px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #01A3EE;
    
}
.intro-app .intro-text{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.intro-app .message-fin{
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
    position: absolute;
    bottom: 3%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.intro-app .message-fin img{
    border-radius: 15px;
}
.intro-app .message-fin img:hover{
   box-shadow: 2px 2px 3px 2px #78beff;
   transition: all 0.7s;
}