body {
    background-color: #CDF2FF;
    font-family: "Fredoka", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}s

/****************************************** */
/* UI-NOTE SECTION 1 */
/****************************************** */
.UI-Note {
    height: 120vh;
    background-color: #CDF2FF;
}

.UI-Note div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UI-Note div p:hover {
    font-size: 1.25rem;
    transition: all 0.7s;
}

.UI-Note img {
    width: 80vw;
    height: fit-content;
}

/****************************************** */
/* DESIGN SECTION 2 */
/****************************************** */
.Design {
    height: 250vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Design img {
    width: 100vw;
    height: fit-content;
}
.text-Design {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    
}

.text-Design div {
    height:50vh;
    display: flex;
    align-items:center;
    justify-content:center;
    
}


/* .text-Design div p:hover {
    animation: translatePara 2.5s ease-in-out;
} */

@keyframes translatePara {
    0% {
        transform: translateX(0%);
        font-weight: normal;
    }
    50% {
        transform: translateX(50%);
        font-weight: bold;
    }
    100% {
        transform: translateX(0%);
        font-weight: normal;
    }
}

/****************************************** */
/* UI DESCRIPTION SECTION 3 */
/****************************************** */
.UI-Description {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.UI-Description .text-UI{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.image-UI{
    margin: 1.2rem;
}

.image-UI, .image-column {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.image-UI img {
    width: 80%;
    object-fit: cover;
    position: relative;

}
.UI-Description img:hover{
    transform: scale(1.05);
    transition: all 0.7s;
    box-shadow: 2px 2px 5px 2px #86badf;

}






/****************************************** */
/* INTRO-VIDEO SECTION 4 */
/****************************************** */
.presentation-video {
    height: 800vh;
    position: relative;
    font-size: 1.5rem;
}


.presentation-video video {
    width: 100%;
    height: 100%;
}

.Text-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}
.Text-video div{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    color: black;
    font-weight: 400;
}
.Text-video div p{
    text-align: center;
}
.Text-video div p img{
    border-radius: 15px;
}

/****************************************** */
/* INTRO-APP SECTION 5 */
/****************************************** */
.intro-app {
    position: relative;
    top: 0;
    height: 400vh;
   
}

.background{
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: linear-gradient(180deg, #CDF2FF, #00B0EE, #007BEE);
}

.intro-app .intro-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro-text p {
    font-size: 2rem;
    font-weight: lighter;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.intro-app .message-fin {
    font-weight: lighter;
    color: white;
    position: sticky;
    top: 3%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 90vh;
    display: none;
}

.intro-app .message-fin img {
    border-radius: 15px;
}

.intro-app .message-fin img:hover {
    box-shadow: 2px 2px 3px 2px #78beff;
    transition: all 0.7s;
}

/* .intro-app .cercle1, .intro-app .cercle2 {
    position: absolute;
    top: 25%;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: #01A3EE;
} */

/* .intro-app .cercle1 {
    left: 0;
    transform: translateX(-50%);
}

.intro-app .cercle2 {
    right: 0;
    transform: translateX(50%);
    overflow-x: hidden;
} */

/************* ECRAN ADAPTATIF *************** */
/****************************************** */
@media screen and (min-width: 700px) {
    .Design .holder{
        display: flex;
    }

    .Design .holder img {
        width: 75vw;
    }

    .UI-Description{
        height: 100vh;
    }

    .text-Design div {
        justify-content:flex-end;
        margin-right: 2rem;
    }

.image-UI {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 90%;
    margin: auto;
}

.image-UI img {
    width: 100%;
    object-fit: cover;
}

.image-UI img:hover {
    transform: scale(1.05);
    transition: all 0.7s;
    box-shadow: 2px 2px 5px 2px #86badf;
}

.image-UI img:first-child {
    grid-row: 1;
}

.image-UI img:nth-child(2) {
    height: 50%;
    object-fit: cover;
}
}

/************* AJOUTER ANIMATION *************** */
/****************************************** */
.donnerAnimation{
    animation: opacity 2.2s ease-in-out;
}

.donnerAnimationH2 {
    animation: slideIn 1.2s ease-in-out;
}

.donnerAnimationPar {
    animation: slideIn 1.2s ease-in-out 200ms;
}

.donnerAnimationUI {
    animation: imageIntro 2.2s ease-in-out 200ms;
}

.animationCouleur{
    animation: couleurSize 1.5s ease-in-out;
}

.DonnerAnimationBienvenue{
    animation: floatOpacity 2.2s ease-in-out;
}

/************* ANIMATION SETUP *************** */
/****************************************** */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imageIntro {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes couleurSize {
    0% {
        color: #CDF2FF;
        scale: 1;
    }
    50% {
        color: #00B0EE;
        scale: 1.1;
    }
    100% {
        color: #CDF2FF;
        scale: 1;
    }
    
}

@keyframes floatOpacity {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
