

/* FAIRE UN RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #80c1ff;
}
.holder{
    position: sticky;
    top: 0;
}